.tag{
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    width : 150px; 
    justify-content: center;
    Height : 25px ;
    text-align: center;
  }

.tag_Title{
    color : #FFFFFF;
    font-size : 14px;
    font-weight: 500;
   }

   @media screen and (max-width: 767px) {
    .tag{
      border-radius: 5px;
      width : 84px; 
      Height : 18px ;
    }
    .tag_Title{
      font-size : 12px;
     }
   }