.carousel{
    height: 415px;
    top : 100px;
}

img.d-block{
    height : 100%;
    object-fit: cover;
}

.carousel-inner{
    height : 100%; 
    border-radius: 25px; 
   }

.carousel-item{
    height : 100%;
}






