.carousel-indicators{
    display : none;
}
.carousel{
    height: 415px;
    top : 30px;
    margin-right: 100px;
    margin-left: 100px;
}

img.d-block{
    height : 100%;
    object-fit: cover;
}

.carousel-inner{
    height : 100%; 
    border-radius: 25px; 
}

.carousel-item{
    height : 100%;
}

.carousel-control-prev-icon {
    background-image: url(../../images/back.svg);
    height : 80px;
}

.carousel-control-next-icon {
    background-image: url(../../images/forward.svg);
    height : 80px;
}

.caroussel_Number{
    font-size : 18px;
    color : white;
    position : absolute ;
    display: block;
    bottom: 20px;
    font-weight: 500;
    left: 50%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)); 
}


@media screen and (max-width: 767px) {
    .carousel{
        height: 255px;
        margin-right: 20px;
        margin-left: 20px;
    } 

    .carousel-inner{
        border-radius: 10px; 
    }
    .carousel-control-prev-icon {
        height : 20px;
    }
    
    .carousel-control-next-icon {
        height : 20px;
    }
}






