.carousel_Container{
    height: 415px; 
    position: relative;
    display: flex;
    margin-right : 100px; 
    margin-left : 100px;
    margin-top : 50px;
}

.carousel_Actif{
    height: 415px; 
    width : 100%;
  
}

.carousel{
    height: 415px; 
}

.carousel_Img{
    object-fit: cover;
    border-radius: 15px;
    height : 415px;
    width: 100% ;
}

.arrow_Back{
    Width : 46.68px ;
    Height : 79.2px ;
    position: absolute;
    top: 45%;
    right : 90%;
    cursor: pointer;
}

.arrow_Forward{
    Width : 46.68px ;
    Height : 79.2px ;
    position: absolute;
    left: 90%;
    top: 45%;
    cursor: pointer;
    display: flex;
}

.carousel_Number{
    Size : 18px ;
    position: absolute;
    Line-height : 25.67px ;
    align-items : Center ;
    display: flex;
    right : 50%;
    top: 86.19%;
    color: #FFFFFF;
    font-weight: 500;
}






@media screen and (max-width: 767px) {
    .carousel_Container{
        height: 255px;
        margin-right: 20px;
        margin-left: 20px;
    } 

    .carousel_Actif{
        height: 255px;  
    }

    .carousel_Img{
        height : 255px;
    }
    .arrow_Forward {
        height : 20px;
    }
    
    .arrow_Back {
        height : 20px;
    }
}






