.Gallery{
    border-radius: 25px;
    height: 2000px;
    margin-right : 100px;
    margin-top: 120px;
    margin-left: 100px;
    background: #F7F7F7;
    border-radius: 25px;
    margin-bottom : 40px;
    height: 2000px;
}

.Thumb{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
    padding-top : 40px;
    padding-bottom : 40px;
    border-radius: 25px;
}




