@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../components/Nav/nav.css";
@import "../components/Header/header.css";
@import "../components/Banner/banner.css";
@import "../components/Card/card.css";
@import"./Home.css";
@import "../components/Footer/footer.css";
@import "../components/Caroussel/caroussel.css";
@import "./propos.css";
@import "../components/Collapse/collapse.css";
@import "../components/Error/errorPage.css";
@import "./Logement.css";
@import "../components/Tag/tag.css";
@import "../components/Host/host.css";
@import"../components/Rate/rate.css";



code {
  font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 209px; 
}

html{
  position: relative; /* important*/
  margin :auto;
}

#root {
  margin :0;
}

main{
  min-height : 100%;
  margin :0;
}























