.container_Lodging{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;  
}

.lodging_Content_Left{
    display: flex;
    flex-direction: column;
    width : 700px; 
    color: #FF6060;
}

.lodging_title{
   font-size: 36px; 
   font-weight: 500;
   line-height: 142.6%;
}

.lodging_location{
    font-size: 18px; 
    font-weight: 500;
    line-height: 142.6%;
 }

 .lodging_tags{
    display: flex;
    flex-direction: wrap; 
    flex-wrap: wrap;
    gap : 20px;;
}

.Accordion_Lodging{
    display: flex;
    flex-direction: wrap;
    gap : 20px;
    margin-top:50px;
}

.Accordion_Lodging_Description{
    width : 582px;
}

.Accordion_Lodging_Equipments{
    width : 582px;
}

