.container_Lodging{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;  
    margin-top : 100px;
    margin-right : 100px;
    margin-left : 100px;
}

.lodging_Content_Left{
    display: flex;
    flex-direction: column;
    width : 700px; 
    color: #FF6060;
}

.lodging_title{
   font-size: 36px; 
   font-weight: 500;
   line-height: 142.6%;
}

.lodging_location{
    font-size: 18px; 
    font-weight: 500;
    line-height: 142.6%;
 }

 .lodging_tags{
    display: flex;
    flex-direction: wrap; 
    flex-wrap: wrap;
    gap : 20px;
}

.accordion_Lodging{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap : 30px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-right : 100px;
    margin-left : 100px;
}

.accordion_Lodging_Description{
    Width : 582px ;
}

.accordion_Lodging_Equipments{
    width : 582px;
    list-style-type:none;
}

@media screen and (max-width: 767px) {
    .container_Lodging{
        display: flex;
        flex-direction: column;
        margin-top : 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .lodging_Content_Left{
        width : 335px; 
    }
    .lodging_title{
        font-size: 18px; 
        line-height: 26px;
     }
     .lodging_location{
        font-size: 14px; 
        line-height: 20px;
     }
    .lodging_Content_Right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top : 20px;
    }
    .accordion_Lodging{
        margin-top:0px;
        margin-right: 20px;
        margin-left : 20px;
        flex-direction: column;
        gap : 40px;
    }
    .accordion_Lodging_Description{
        width : 100%;
    }
    
    .accordion_Lodging_Equipments{
        width : 100%;
    }
    .lodging_tags{
        width : 100% ;
    }
}

