

.Card{
  position : relative ;
    border-radius: 10px;
    height: 100%;
    display: flex;
    width : 330px;
    height: 250px;
    transition: 400ms;
    
    
    
}

.Card:hover {
    transform: scale(1.05);

}

.pictureCard{
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    width: inherit;
    cursor: pointer;
   
   
}


.cardTitle{
    position : absolute;
            bottom: 0px;
            text-align: start;
            
            margin-left: 20px;
            font-weight: 500;
            color: white;
            
            size: 18px;
}

.Title{
    font-weight: 500;
    
}


