.Card{
    border-radius: 10px;
    height: 100%;
    display: flex;
    Width : 290px;
    Height : 240px ;
    transition: 400ms;
    position: relative; 
}

.Card:hover {
    transform: scale(1.05);
}

.pictureCard{
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: inherit;
    cursor: pointer;
    background: #FF6060;
    filter: brightness(0.7);
    border-radius: 10px;
}


.rectangle{
    bottom: 0px;
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    margin-left : 10px;
}

.pictureTitle{
    display: flex;
    align-items: flex-end; 
}

.Title{
    font-weight: 500;
    size: 18px;
    Line-height : 25.67px;
    color: white;
    position: absolute;
    right: 15px;
    left: 15px;
}

@media screen and (max-width: 767px) {
    .Card{
        width : 100%;
        height : 300px ;
    }
}


