

.Card{
   
    border-radius: 10px;
    height: 100%;
    display: flex;
    width : 300px;
    height: 270px;
   
}

.pictureCard{
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
   
    width: inherit;
    cursor: pointer;
}


.cardTitle{
    
            bottom: 0px;
            text-align: start;
            margin-bottom: 20px;
            margin-left: 20px;
            font-weight: 500;
            color: white;
            
            size: 18px;
}


