.Gallery{
    
    border-radius: 25px;
    display: flex;
    height : auto;
    width : 100%;
   
        margin-top: 220px;
    width: 100%;
    background: #F7F7F7;
    border-radius: 25px;
    box-sizing: border-box;


}
.Thumb{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;	
width : 100%;
box-sizing: border-box;
margin-top : 40px;
justify-content: space-between;
margin-right : 70px;
margin-left : 70px;
height: 2300px;

}
