.headerWrap{
    display: flex;
    justify-content: space-between;
    Height :     68px ;
    flex-wrap: wrap;
    margin-top : 40px;
}

.header_logo{
    display: flex;
}


.logoHeader{
    height: 68px;
}





