.headerWrap{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
    margin-top : 20px;
       }

.header_logo{
    display: flex;
	padding-left : 100px;

}


.logo{
    height: 50px;
}





