.headerWrap{
    display: flex;
    justify-content: space-between;
    Height : 68px ;
    flex-wrap: wrap;
    margin-top : 40px;
}

.logoHeader{
    height: 68px;
    margin-left: 100px;
}

/* Format mobile 768px */
@media screen and (max-width: 767px) {
.headerWrap{
    height: 47px;
    margin-top: 20px;
}
.logoHeader{
    margin-left: 20px;
    Height : 47px ;
}
}






