.footer{
    bottom: 0;
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
    justify-content: center; 
    position : absolute ;
    width : 100%;
}

.logo{
    position: relative;
    margin-top : 20px;
    height: 39.44px;
    display: flex;
}

.footer_Content{
    display: flex;
    justify-content: center; 
    text-align: center;
}

.footer_Text{
    margin-top : 40px;
    font-Size : 24px;
    color:white;
    font-Weight : 500; 
}

@media screen and (max-width: 767px) {
    .footer_Text{
        font-Size : 12px;
    } 
}

