.footer{
    bottom: 0;
    width : 100%;
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
    justify-content: center; 
}

.logo{
    position: relative;
    margin-top : 20px;
    height: 39.44px;
    display: flex;
}



.textFooter{
    margin-top : 40px;
    font-Size : 24px;
    color:white;
    font-Weight : 500;   
}

