.nav_header{
position: absolute;
left: 75.08%;
right: 0%;
top: 25%;
bottom: 25%;

}

.nav_header_link_home{
    position: absolute;

right: 70%;
top: 25%;
bottom: 25%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;
text-align: right;

text-decoration:none;
color: #FF6060;
}

.nav_header_link_about{
position: absolute;
right: 0%;
top: 25%;
bottom: 25%;
text-decoration:none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;
text-align: right;

color: #FF6060;
}






